// 组件的功能模版
purple = {
  name: "purple",
  background: #b393ff url('https://s.vipkidstatic.com/fe-static/mobile/parentsspeedy/course/weeklyreport/img/bg-index-3b5b5f74.png') no-repeat
  //url('https://img.vipkidstatic.com/prt/image/tools/upload/BBENjoDA3DvJn.png')
  headbgc: #7744ff
  border-radius: 8px,
}
yellow = {
  name: "yellow",
  background: yellow //url(.import('@/components/reportComponents/asstes/images/purple-theme.png'))
  headbgc: #7744ff
  border-radius: 8px,
}
themeList = (purple yellow);