// 组件的功能模版
purple = {
  name: "purple",
  background: #b393ff url('~@/components/reportComponents/asstes/images/purple-theme.png') no-repeat 0px 44px
  headbgc: #7744ff
  border-radius: 8px,
}
yellow = {
  name: "yellow",
  background: yellow url('~@/components/reportComponents/asstes/images/purple-theme.png')
  headbgc: #7744ff
  border-radius: 8px,
}
themeList = (purple yellow);