// 标准颜色

// 界面元素颜色
$vk-main-color = #FF6422 //主色
$vk-auxiliary-yellow-color = #FFCD1A // 黄色元素
$vk-auxiliary-purple-color = #7973FF //紫色元素
$vk-auxiliary-blue-color = #5D75FF //蓝色原色
$vk-auxiliary-green-color = #00D185 //绿色元素
//状态色
$vk-error-hint-color = #FF4802 // 错误提示
$vk-success-hint-color = #00D185 // 正确提示
$vk-link-color = #00AFF5 // 文字链接可点击
//字体颜色
$vk-font-color-1 = #060607 // 一级标题
$vk-font-color-2 = #2F3338 // 二级标题
$vk-font-color-3 = #4B525C // 三级标题
$vk-font-color-text = #747D87 // 大面积正文
$vk-font-color-auxiliary = #979DA6 // 二级辅助正文
$vk-font-color-disable = #D5D9DE // 不可点击
//背景色
$vk-bgc-divider = #EDEFF2 // 分割线
$vk-bgc-white = #F9FAFC //背景色 - 白
$vk-bgc-grey = #F7F8FA //背景色 - 灰
$vk-bgc-while-pure = #ffffff //背景色-纯白
// 字体
$vk-font-size-xxs = 12px //辅助性文字，解释型话语等，如时间，注释
$vk-font-size-xs = 13px //辅助性文字，如状态描述等
$vk-font-size-sm = 14px // 内容性文字
$vk-font-size-md = 16px // 二级标题，分类标题
$vk-font-size-lg = 18px // 顶栏标题，一级标题，重要文字


//行间距
//边框颜色

//边框圆角
$vk-radius-base = 4px
$vk-radius-xs = $vk-radius-base * 2 // 小卡片圆角
$vk-radius-sm = $vk-radius-base * 3 // 一般通用圆角
$vk-radius-md = $vk-radius-base * 5 // 弹出框圆角
// 内边距
$vk-padding-base = 4px
$vk-padding-xs = $vk-padding-base * 3 // 一般通用padding 12px
$vk-padding-sm = $vk-padding-base * 4 // 页面左右留白 padding 16px
$vk-padding-md = $vk-padding-base * 6 // 24px
$vk-padding-lg = $vk-padding-base * 8 // 最大padding 32px

//action-sheet
$vk-action-sheet-cancel-color = #999999

//notify
$vk-notify-normal-background = #fff8e8
$vk-notify-normal-font-color = #ff4200